<md-content class="md-padding" layout-padding layout="column" layout-align="center space-between">

	<div layout="row" layout-align="center space-between" layout-margin>
		<h1>Recieved!</h1>
	</div>
	<div layout="row" layout-align="center space-between" style="text-align:center;font-size:15px;" layout-margin flex=80>
		<div layout="row">

			<medium>
				We've saved your feedback and we'll be looking in to this as soon as we can!
			</br></br>
				We can't thank you enough for this, really :)

			</medium>
		</div>
	</div>

	<div layout="row" layout-align="center">
		<div flex=90 layout-align="center center" layout="row">
			<md-button class="md-warn md-raised" ng-click="home()">Home</md-button>
		</div>
	</div>
</md-content>
