<md-content class="md-padding" flex>
	<md-list>
		<div ng-repeat="(domain, arr) in allCtrl.domains">
			<md-list-item class="noright md-no-proxy">
				<img ng-src="{{ 'http://' + domain + '/favicon.ico' }}" err-src="chrome-extension://eakjmbommdakdadpcpiememnojfhmgnj/public/img/cyphor_logo_transp_48.png " class="md-avatar"/>
				<p>{{ (domain=='*')? 'All Domains' : domain }}</p>
				<p>{{ arr.length }}</p>
				<md-button aria-label="Go To Channel" class="md-icon-button" ui-sref="channels.domain({domain : domain})">
					<md-icon aria-label="Go To Channel" class="md-secondary">&#xE315;</md-icon>
				</md-button>
				<md-button aria-label="Settings" class="md-icon-button">
					<md-icon aria-label="Settings" class="md-secondary md-hue-3">&#xE8B8;</md-icon>
				</md-button>
			</md-list-item>
		</div>
	</md-list>
</md-content>
